# Dependencies
node_modules/
package-lock.json

# Environment variables
.env
.env.local

# Editor & IDE
.vscode/
.idea/
*.swp
*.suo

# OS Files
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
npm-debug.log*

# Build outputs
dist/
build/
.cache/

# Temporary files
*.tmp
*.bak